In [1]:
def function():
    pass

In [2]:
def  test():
    print("this is my first function")

In [3]:
test()

this is my first function

In [4]:
def test2():
    return "this is a function with return"

In [8]:
test2() + " aryan"

'this is a function with return aryan'

In [9]:
def test3():
    return "aryan", 23, True, [1,2,3]

In [10]:
test3()

('aryan', 23, True, [1, 2, 3])

In [11]:
a,b,c,d = test3()

In [12]:
a

'aryan'

In [13]:
b

23

In [14]:
c

True

In [15]:
d

[1, 2, 3]

In [16]:
d[2]

3

In [20]:
def test4():
    a = (5+5)/2
    return a

In [21]:
test4()

5.0

In [22]:
def test5(a,b,c):
    d = a+b/c
    return d

In [28]:
test5(5,8,4)

7.0

In [29]:
def test6(a,b):
    return a+b

In [30]:
test6("Aryan", " Dhirhi")

'Aryan Dhirhi'

In [ ]:
l =[1,2,3,4,5,6, True, "aryan", "Dhirhi", 5.25]

In [32]:
def test7(l):
    l1 = []
    for i in l:
        if(type(i) == int or type(i) == float):
            l1.append(i)
    return l1

In [34]:
test7(l)

[1, 2, 3, 4, 5, 6, 5.25]

In [42]:
l2 =[1,2,3,4,5,6, True, "aryan", "Dhirhi", 5.25,  [10,4450,654]]

In [53]:
def test8(l):
    """This is function to extrext numeric data form list"""
    l1 = []
    l2 = []
    for i in l:
        if(type(i) == int or type(i) == float):
            l1.append(i)
        elif(type(i) == list):
            for j in i:
                l1.append(j)
        else:
            l2.append(i)
    return l1, l2

In [54]:
test8(l2)

([1, 2, 3, 4, 5, 6, 5.25, 10, 4450, 654], [True, 'aryan', 'Dhirhi'])

In [55]:
def test10(*args):
    return args

In [57]:
test10(1,2,3,4)

(1, 2, 3, 4)

In [58]:
def test11(**args):
    return args

In [62]:
test11(a = 'Aryan')

{'a': 'Aryan'}