In [5]:
a = 10

if(a>10):
    print("yes a is grater then 10")

In [9]:
a = 10

if(a>=10):
    print("yes a is grater then 10")

yes a is grater then 10

In [11]:
b = 20
if(b > 30):
    print("B is greater then 30")
elif(b<40):
    print("B is leser then 40")
else:
    print("this is my defalult")

B is leser then 40

In [13]:
inp = int(input("Enter the data: "))

if(inp > 30):
    print("B is greater then 30")
elif(inp < 40):
    print("B is leser then 40")
elif(inp > 100):
    print("B is greater then 100")
else:
    print("this is my defalult")

B is greater then 30

## Loop

In [18]:
n = 4
i = 1
while(i <= 4):
    print(i)
    i = i + 1

1
2
3
4

In [20]:
n = 4
i = 1
while(i <= 4):
    print(i)
    i = i + 1
    if(i == 3):
        break
else:
    print("While is completed successfully")

1
2

In [22]:
s = "aryan"
for i in s: 
    print(i)

a
r
y
a
n

In [23]:
l = [1,2,3,4,5,6, "aryan", "Dhirhi", 23.5, True]

In [25]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [26]:
for i in l:
    print(type(i))
    if(i == 6):
        break
    print(i)
else:
    print("for loop successfull")

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>

In [27]:
for i in l:
    print(type(i))
    if(i == 6):
        continue
    print(i)
else:
    print("for loop successfull")

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
<class 'str'>
aryan
<class 'str'>
Dhirhi
<class 'float'>
23.5
<class 'bool'>
True
for loop successfull

In [30]:
range(2, 10)

range(2, 10)

In [32]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]