In [1]:
a = "aryan"

In [2]:
a1 = "DataScience"

In [5]:
type(a), type(a1)

(str, str)

In [6]:
l = [1,2,3,4,5,6,"aryan", 3+5j, "True", 32.5]

In [7]:
type(l)

list

In [8]:
a[0]

'a'

In [9]:
a[2]

'y'

In [10]:
l[0]

1

In [11]:
l[2]

3

In [12]:
l[5]

6

In [13]:
l[10]

IndexError: list index out of range

In [14]:
l[-1]

32.5

In [20]:
l[5] = 600

In [21]:
l

[1, 2, 3, 4, 5, 600, 'aryan', (3+5j), 'True', 32.5]

In [22]:
a[0]

'a'

In [23]:
a[0] = 'u'

TypeError: 'str' object does not support item assignment